**type casting**
- convert one data type to another data type is called as type casting 

- which means we want to convert 

- integer type to all other(float, str,bool) data types

- float type to all other(int, str,bool) data types 

- str type to all other(float, int,bool) data types 

- bool type to all other(float, str,int) data types

**Integer to other data types**

$int -folt$

In [9]:
num=100
type(num)

int

In [2]:
float(num)

100.0

In [3]:
float_num=float(num)
type(float_num)

float

$int-str$

In [12]:
str_num=str(num)
str_num

'100'

In [13]:
type(str_n)

str

In [14]:
bool(num)

True

In [15]:
a=bool(num)
type(a)

bool

In [17]:
float(200), str(200),bool(200)

(200.0, '200', True)

In [2]:
# when integer of boolean converstion become false
bool(0)

False

**Note**

- Integer=0 then only boolean converstion becomes false

- otherwise for any positive number or any negative number it becomes true

**Float to another data type**

In [20]:
int(200.5) # 200
str(200.5)  # '200.5'
bool(200.5)  # True

True

In [21]:
int(200.5),str(200.5),bool(200.5)

(200, '200.5', True)

**string to another data type**

In [2]:
# case-1
str='apple'
# case-2
str1='10'
# case-3
str2='10.5'

- float is the boss 

- float of any value either it is integer in string format

- or float in string format will works

- but integer will works only for integer in string format

- integer type casting will fail for float in string format

- empty string of boolean give false

- False means nothing either 0 or empty string

In [ ]:
# boolean to other type

In [29]:
int(True)

1

In [30]:
str(True)

'True'

In [31]:
float(True)

1.0

In [32]:
int(False)

0

In [33]:
float(False)

0.0

In [34]:
str(False)

'False'

In [ ]:
###### int to other ####
float(100)
str(100)
bool(100)

##### float to other####
int(100.5)
str(100.5)
bool(100.5)

##### str to other######
int('apple')
float('apple')
bool('apple')

####### boolean to other######
int(True)
int(False)
float(True)
float(False)
str(True)
str(False)

In [36]:
print(10)

10

In [37]:
print('python')

python

In [39]:
print(10,10.5,'naresh IT',True)

10 10.5 naresh IT True

In [40]:
n1=10
n2=20
print(n1,n2)

10 20

In [41]:
print(10),print(20)

10
20

(None, None)

In [42]:
print(10)
print(20)

10
20

In [47]:
a=100
b=200
c=a+b
print("the addition of 10 and 20 is 30")
print("the addition of a and b is c")
print("the addition of" ,a, "and", b, "is", c)

the addition of 10 and 20 is 30
the addition of a and b is c
the addition of 100 and 200 is 300

**format**

In [51]:
a=100
b=200
c=a+b
print("the addition of {} and {} is {}".format(a,b,c))

the addition of 100 and 200 is 300

In [53]:
# read your name
# read your age
# read your city
# my name is python,Im  10 years old Im from Hyd
name='python'
age=10
city='Hyd'
print("My name is {},Im {} years old Im from {}".format(name,age,city))

My name is python,Im 10 years old Im from Hyd

In [56]:
# employee name
# employee role
# company
employee_name='kavya'
employee_role='data scientist'
company='google'
print("My name is {}, I want to become {} in {} company".format(employee_name,employee_role,company))

My name is kavya, I want to become data scientist in google company

the addition of 100 and 200 is 300

**f string**

In [59]:
a=100
b=200
c=a+b
print(f"the addition of {a} and {b} is {c}")

the addition of 100 and 200 is 300

In [60]:
name='python'
age=10
city='Hyd'
print(f"My name is {name},Im {age} years old Im from {city}")

My name is python,Im 10 years old Im from Hyd